S010010001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://esb.spdbbiz.com/services/S010010001/wsdl" xmlns:d="http://esb.spdbbiz.com/services/S010010001/metadata" xmlns:s="http://esb.spdbbiz.com/services/S010010001" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapnc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://esb.spdbbiz.com/services/S010010001/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <wsdl:types>
        <xsd:schema targetNamespace="http://esb.spdbbiz.com/services/S010010001/wsdl" elementFormDefault="qualified" attributeFormDefault="qualified">
            <xsd:import namespace="http://esb.spdbbiz.com/services/S010010001" schemaLocation="S010010001.xsd"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RspBankAcptMrgnOpenAndDep">
    <wsdl:part name="RspBankAcptMrgnOpenAndDep" element="s:RspBankAcptMrgnOpenAndDep">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReqHeader">
    <wsdl:part name="ReqHeader" element="d:ReqHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReqBankAcptMrgnOpenAndDep">
    <wsdl:part name="ReqBankAcptMrgnOpenAndDep" element="s:ReqBankAcptMrgnOpenAndDep">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RspHeader">
    <wsdl:part name="RspHeader" element="d:RspHeader">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ESBServerPortType">
    <wsdl:operation name="BankAcptMrgnOpenAndDep">
      <wsdl:input message="tns:ReqBankAcptMrgnOpenAndDep">
    </wsdl:input>
      <wsdl:output message="tns:RspBankAcptMrgnOpenAndDep">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ESBServerSoapBinding" type="tns:ESBServerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BankAcptMrgnOpenAndDep">
      <soap:operation soapAction="urn:/BankAcptMrgnOpenAndDep"/>
      <wsdl:input>
        <soap:header message="tns:ReqHeader" part="ReqHeader" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RspHeader" part="RspHeader" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S010010001">
    <wsdl:port name="ESBServerSoapEndpoint" binding="tns:ESBServerSoapBinding">
      <soap:address location="http://esb.spdbbiz.com:7701/services/S010010001"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
